absl-py==1.4.0
aiohttp==3.8.5
aiosignal==1.3.1
allure-pytest==2.13.2
allure-python-commons==2.13.2
altair==5.3.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
apturl==0.5.2
argcomplete==3.0.8
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
axe-selenium-python==2.1.6
backcall==0.2.0
bardapi==0.1.38
bcrypt==3.2.0
beautifulsoup4==4.11.1
beniget==0.4.1
black==21.4b2
blinker==1.6.2
blis==0.7.11
Brlapi==0.8.3
Brotli==1.0.9
browser-cookie3==0.19.1
cachetools==5.3.1
capstone==5.0.3
catalogue==2.0.10
catkin==0.8.10
catkin-pkg==1.0.0
catkin-pkg-modules==1.0.0
cer==1.2.0
certifi==2023.7.22
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.2.0
chromedriver==2.24.1
ci-info==0.3.0
click==8.1.6
cloudpathlib==0.19.0
cloudpickle==3.0.0
cmake==3.27.7
colcon-argcomplete==0.3.3
colcon-bash==0.4.2
colcon-cd==0.1.1
colcon-cmake==0.2.27
colcon-common-extensions==0.3.0
colcon-core==0.12.1
colcon-defaults==0.2.8
colcon-devtools==0.2.3
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.2.15
colcon-output==0.2.13
colcon-package-information==0.3.3
colcon-package-selection==0.2.10
colcon-parallel-executor==0.2.4
colcon-pkg-config==0.1.0
colcon-powershell==0.3.7
colcon-python-setup-py==0.2.8
colcon-recursive-crawl==0.2.1
colcon-ros==0.3.23
colcon-test-result==0.3.8
colcon-zsh==0.4.0
colorama==0.4.4
colored-traceback==0.4.2
comm==0.1.4
command-not-found==0.3
confection==0.1.5
configobj==5.0.8
configparser==6.0.0
coremltools==6.3.0
coverage==7.2.5
cryptography==41.0.3
cupshelpers==1.0
cycler==0.11.0
cymem==2.0.8
dbus-python==1.2.18
debugpy==1.6.7.post1
decorator==4.4.2
deep-translator==1.11.4
defer==1.0.6
defusedxml==0.7.1
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@82a57ce0b70057685962b352535147d9a8118578
distlib==0.3.6
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.4.2
docutils==0.17.1
duplicity==0.8.21
effdet==0.4.1
empy==3.3.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.1.1
execnet==2.0.2
executing==1.2.0
Faker==18.13.0
fasteners==0.14.1
filelock==3.13.1
fitz==0.0.1.dev2
flake8==6.0.0
flake8-blind-except==0.2.1
flake8-builtins==2.1.0
flake8-class-newline==1.6.0
flake8-comprehensions==3.12.0
flake8-deprecated==2.0.1
flake8-docstrings==1.7.0
flake8-import-order==0.18.2
flake8-quotes==3.3.2
Flask==2.3.2
flatbuffers==23.5.26
fonttools==4.29.1
frozenlist==1.4.0
fs==2.4.12
fsspec==2023.10.0
future==0.18.2
fvcore==0.1.5.post20221221
g4f==0.3.0.8
gast==0.4.0
genmsg==0.5.16
genpy==0.6.16
gitdb==4.0.11
GitPython==3.1.43
google-api-core==1.34.0
google-api-python-client==2.120.0
google-auth==2.22.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-translate==3.13.0
google-cloud-vision==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.61.0
googletrans==2.4.0
grpcio==1.57.0
grpcio-status==1.48.2
gyp==0.1
h11==0.12.0
h2==3.2.0
h5py==3.9.0
hpack==3.0.0
hstspreload==2023.1.1
html2text==2020.1.16
html5lib==1.1
httpcore==0.15.0
httplib2==0.20.2
httpx==0.25.1
huggingface-hub==0.20.1
hydra-core==1.3.2
hyperframe==5.2.0
idna==2.10
imageio==2.32.0
importlib-metadata==4.6.4
imutils==0.5.4
iniconfig==2.0.0
intervaltree==3.1.0
iopath==0.1.9
ipykernel==6.25.1
ipython==8.14.0
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.19.0
jeepney==0.7.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.2
jsonschema-specifications==2023.11.1
jupyter_client==8.3.0
jupyter_core==5.3.1
kaitaistruct==0.10
keras==2.13.1
keyring==23.5.0
kiwisolver==1.3.2
kraken==4.1.0
langcodes==3.4.0
langdetect==1.0.9
language-selector==0.1
language_data==1.2.0
lark==1.1.1
launchpadlib==1.10.16
layoutparser==0.3.4
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.3
Levenshtein==0.21.1
libclang==16.0.6
lightning @ https://github.com/PyTorchLightning/pytorch-lightning/archive/master.zip#sha256=c9a559d2f607b157fb7cd0e6b4d9ffc70c797564788e753142903adb8bc2622e
lightning-utilities==0.9.0
lit==17.0.5
lockfile==0.12.2
looseversion==1.3.0
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
marisa-trie==1.2.0
Markdown==3.4.4
markdown-it-py==3.0.0
markdownify==0.11.6
MarkupSafe==2.1.3
matplotlib==3.5.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
monotonic==1.6
more-itertools==8.10.0
Morfessor==2.0.6
mpi4py==3.1.3
mpmath==0.0.0
multidict==6.0.4
murmurhash==1.0.10
mypy-extensions==1.0.0
nest-asyncio==1.5.7
netifaces==0.11.0
networkx==3.2.1
nibabel==5.1.0
nipype==1.8.6
nltk==3.8.1
notify2==0.3.1
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.52
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
olefile==0.46
omegaconf==2.3.0
openai==1.1.1
opencv-python==4.8.1.78
openpyxl==3.1.2
opt-einsum==3.3.0
outcome==1.2.0
packaging==23.1
pandas==2.0.3
paramiko==2.9.3
parso==0.8.3
pathlib==1.0.1
pathspec==0.11.2
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.10.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.10.0
pluggy==1.0.0
plumbum==1.8.3
ply==3.11
polyglot==16.7.4
portalocker==2.8.2
preshed==3.0.9
prompt-toolkit==3.0.39
proto-plus==1.23.0
protobuf==3.20.3
prov==2.0.0
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pwntools==4.13.0
py==1.10.0
pyarrow==14.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycairo==1.20.1
pyChatGPT==0.4.3.3
pycld2==0.41
pycocotools==2.0.7
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.20.0
pycryptodomex==3.19.0
pycups==2.0.1
pydantic==1.10.12
pydeck==0.9.0b1
pydocstyle==6.3.0
pydot==1.4.2
pyelftools==0.31
pyflakes==3.0.1
pygame==2.5.2
Pygments==2.16.1
PyGObject==3.42.1
PyICU==2.11
PyJWT==2.3.0
pyleniumio==1.19.1
pymacaroons==0.13.0
pymongo==4.6.1
PyMuPDF==1.23.5
PyMuPDFb==1.23.5
PyNaCl==1.5.0
PyOpenGL==3.1.7
pyOpenSSL==23.2.0
pyparsing==2.4.7
pypdfium2==4.23.1
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyRFC3339==1.1
pyserial==3.5
PySocks==1.7.1
pytesseract==0.3.10
pytest==7.4.0
pytest-cov==4.0.0
pytest-parallel==0.1.1
pytest-repeat==0.9.1
pytest-rerunfailures==11.1.2
pytest-runner==6.0.0
pytest-xdist==3.3.1
python-apt==2.4.0+ubuntu3
python-bidi==0.4.2
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.0
python-Levenshtein==0.21.1
pythran==0.10.0
pytorch-lightning==2.0.9.post0
pytz==2022.1
pyvips==2.2.1
PyWavelets==1.4.1
pyxdg==0.27
pyxnat==1.6
PyYAML==5.4.1
pyzmq==25.1.1
rapidfuzz==3.2.0
rdflib==7.0.0
referencing==0.31.0
regex==2023.8.8
reportlab==3.6.8
requests==2.28.2
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==13.5.2
roman==3.3
ROPGadget==7.4
rosclean==1.15.8
rosdep==0.21.0
rosdistro==0.9.1
rosdistro-modules==0.9.1
rosgraph==1.15.14
roslaunch==1.15.14
roslib==1.15.8
rosmaster==1.15.14
rosparam==1.15.14
rospkg==1.5.1
rospkg-modules==1.5.1
rpds-py==0.12.0
rpyc==6.0.0
rsa==4.9
safetensors==0.4.0
scapy==2.5.0
scikit-image==0.19.2
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
SecretStorage==3.3.1
selenium==4.10.0
selenium-wire==5.1.0
Shapely==1.8.5.post1
shellingham==1.5.0.post1
simplejson==3.19.2
six==1.16.0
sklearn==0.0.post7
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.2
streamlit==1.33.0
sympy==1.9
systemd-python==234
tabulate==0.9.0
tblib==2.0.0
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.33.0
termcolor==2.3.0
thinc==8.2.5
threadpoolctl==3.2.0
tifffile==2023.9.26
timm==0.9.8
tokenizers==0.15.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==1.13.0
torchmetrics==1.2.0
torchvision==0.14.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
traits==6.3.2
transformers==4.36.2
trio==0.22.2
trio-websocket==0.10.3
triton==2.1.0
typer==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
undetected-chromedriver==3.5.3
unicodedata2==14.0.0
unicorn==2.0.1.post1
unix-ar==0.2.1
uritemplate==4.1.1
urllib3==1.26.5
usb-creator==0.3.7
vcstool==0.3.0
wadllib==1.3.6
wasabi==1.1.3
watchdog==4.0.0
wcwidth==0.2.6
weasel==0.4.1
webdriver-manager==3.9.1
webencodings==0.5.1
websockets==11.0.3
Werkzeug==2.3.7
wordcloud==1.9.2
wrapt==1.15.0
wsproto==1.2.0
xdg==5
xkit==0.0.0
xlrd==2.0.1
yacs==0.1.8
yarl==1.9.2
zipp==1.0.0
zstandard==0.21.0
